.roundoff {
	text-align: center;
	padding: 50px 10px;
	margin: 0px 150px;
	background-color: #260a30;
	box-shadow: 2px 2px 3px 0px #260a30;
}
.roundoff h1 {
	font-family: 'Yatra One', cursive;
	color: rgb(206, 206, 206);
	margin-bottom: 15px;
}

.roundoff p {
	font-size: 19px;
	line-height: 22px;
}

a.roundoff__btn {
	display: inline-block;
	margin-top: 30px;
	padding: 14px 29px;
	background-color: transparent;
	border: 1px solid #ff73ef;
	color: #ff73ef;
	border-radius: 4px;
	cursor: pointer;
}

a.roundoff__btn:hover {
	background-color: rgba(253, 92, 234, 0.3);
	transition: all 0.2s ease 0s;
}

/* MEDIA RULES */
@media only screen and (max-width: 1024px) {
	.roundoff {
		margin: 0px;
		padding: 30px 20px;
	}
}
@media only screen and (max-width: 770px) {
	.roundoff h1 {
		font-size: 25px;
	}

	.roundoff p {
		font-size: 17px;
	}

}
