.intro {
	padding: 130px 0px 330px 0px;
	margin: 0px 150px;
}

.intro p {
	font-family: 'Fira Code', monospace;
	font-size: 20px;
	color: #ff73ef;
}

.intro h1 {
	font-family: 'Yatra One', cursive;
	color: rgb(214, 214, 214);
}

/* h1 glitch */

h1.glitchy {
	font-size: 5rem;
	font-weight: 700;
	position: relative;
	text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
		0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

	animation: glitch 500ms infinite;
}

.glitchy span {
	position: absolute;
	top: 0;
	left: 0;
}

.glitchy span:first-child {
	animation: glitch 650ms infinite;
	clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
	transform: translate(-0.025em, -0.0125em);
	opacity: 0.8;
}

.glitchy span:last-child {
	animation: glitch 375ms infinite;
	clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
	transform: translate(0.0125em, 0.025em);
	opacity: 0.8;
}

@keyframes glitch {
	0% {
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
			-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	14% {
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
			-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	15% {
		text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
			-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	49% {
		text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
			-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	50% {
		text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75),
			0 -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	99% {
		text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75),
			0 -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	100% {
		text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
			-0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}
.intro p.introd {
	font-family: 'Quicksand', sans-serif;
	color: #a7a7a7;
	margin: 15px 0px;
}

button.intro__btn {
	margin-top: 30px;
	margin-left: 0px;
	padding: 14px 18px;
	background-color: transparent;
	border: 1px solid #ff73ef;
	color: #ff73ef;
	border-radius: 4px;
	cursor: pointer;
}

button.intro__btn:hover {
	background-color: rgba(253, 92, 234, 0.3);
	transition: all 0.2s ease 0s;
}

/* MEDIA RULES */

@media only screen and (max-width: 1024px) {
	.intro {
		margin: 0px;
	}
}

@media only screen and (max-width: 730px) {
	.intro {
		padding: 130px 25px 330px 25px;
	}

	.intro h1 {
		font-weight: 400;
		font-size: 37px;
	}

	button.intro__btn {
		display: block;
	}
}
