.intro {
	padding: 130px 0px 330px 0px;
	margin: 0px 150px;
}

.intro p {
	font-family: 'Fira Code', monospace;
	font-size: 20px;
	color: #ff73ef;
}

.intro h1 {
	font-family: 'Yatra One', cursive;
	color: rgb(209, 208, 208);
	font-size: 5rem;
	font-weight: 700;
}

.intro p.introd {
	font-family: 'Quicksand', sans-serif;
	color: #a7a7a7;
	margin: 15px 0px 50px;
}

a.intro__btn {
	margin-top: 30px;
	margin-left: 0px;
	padding: 14px 18px;
	background-color: transparent;
	border: 1px solid #ff73ef;
	color: #ff73ef;
	border-radius: 4px;
	cursor: pointer;
}

a.intro__btn:hover {
	background-color: rgba(253, 92, 234, 0.3);
	transition: all 0.2s ease 0s;
}

/* MEDIA RULES */

@media only screen and (max-width: 1024px) {
	.intro {
		margin: 0px;
	}
}

@media only screen and (max-width: 730px) {
	.intro {
		padding: 130px 25px 330px 25px;
	}

	.intro h1 {
		font-weight: 400;
		font-size: 37px;
	}

	button.intro__btn {
		display: block;
	}
}
